
.listFilterStopsValue{
    display: flex;
    padding: 10px 0;
    justify-content: flex-start;
    user-select: none; 
}
.listFilterStopsValue:hover{
    background-color: #F1FCFF;
}
.listFilterStopsValue__text-value{
    padding-left: 10px;
}
.listFilterStopsValue__checkBox{
    padding-left: 30px;
}
